<% content_for :title, 'Edit Nutrient Page' %>
<% content_for :header, "Edit Nutrient Page" %>
<% content_for :subheader, "#{@nutrient.present? ? 'for nutrient: '+@nutrient.name : ''}" %>


<%= render "form", nutrient: @nutrient %>

<br>

<div>
  <%= link_to "Show this nutrient", @nutrient %> |
  <%= link_to "Back to nutrients", nutrients_path %>
</div>
