<% content_for :title, 'Edit Nutrient Page' %>
<% content_for :header, "Edit Nutrient Page" %>
<% content_for :subheader, "#{@nutrient.present? ? 'for nutrient: '+@nutrient.name : ''}" %>


<%= render "form", nutrient: @nutrient %>

<br>

<ul>
  <li><a href="/nutrients/new %>">New Nutrient</a></li>
  <li><a href="/nutrients/<%= @nutrient.id %>">View this nutrient</a></li>
  <li><a href="/nutrients/<%=@nutrient.id%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Delete this nutrient</a></li>
</ul>
