<% content_for :title, 'Nutrients Listing' %>
<% content_for :header, "Nutrients Listing" %>


<div id="nutrients">
  <table>
    <%= render 'nutrient_headers' %>
    <% @nutrients.each do |nutrient| %>
      <%= render nutrient %>
    <% end %>
  </table>
</div>

<ul>
<li><%= link_to "New nutrient", new_nutrient_path %></li>
<li><a href='/foods'>Foods Listing</a></li>
<li><a href="/">Home</a></li>
<li><a href='/signout'>Sign Out</a></li>
</ul>
