<% content_for :title, 'Nutrients Listing' %>
<% content_for :header, "Nutrients Listing" %>


<div id="nutrients">
  <table>
    <%= render 'nutrient_headers' %>
    <% @nutrients.each do |nutrient| %>
      <%= render nutrient %>
    <% end %>
  </table>
</div>

<ul>
  <li><a href="/nutrients/new">New Nutrient</a></li>
</ul>
