<% content_for :title, 'Nutrient Page' %>
<% content_for :header, "Nutrient Page" %>
<% content_for :subheader, "#{@nutrient.present? ? 'for nutrient: '+@nutrient.name : ''}" %>

<%= render @nutrient %>

<div>
  <%= link_to "Edit this nutrient", edit_nutrient_path(@nutrient) %> |
  <%= link_to "Back to nutrients", nutrients_path %>

  <%= button_to "Destroy this nutrient", @nutrient, method: :delete %>
</div>
