<% content_for :title, 'About' %>
<% content_for :header, 'About' %>



<h3>About Me:</h3>
<p>My name is Dave Taylor and I am the retired founder and sole developer of <a href="http://tayloredwebsites.com/" target="_blank">Taylored Web Sites, LLC</a>.  I have been a software develper since the 1970&#8217;s, and a Web Developer since the 1990&#8217;s.</p>

<h3>Why I Have Been Developing This Website:</h3>
<p>I have found that so much of my health issues have been related to my diet.  I like that there seems to be a lot of research going on in how nutrition impacts our health.  Some of this has made its way into standard Western (allopathic) medicine, but much of it is not taught in Medical Schools, and Doctors and Insurance companies seem to be waiting for double blind studies (which may never happen for practical and ethical reasons) on humans before applying it to their practice</p>
<ul>I have improved my health through diet in the following ways:
  <li>Significantly increased my consumption of vegetables, fruits, and nuts which has eliminated my Irritable Bowel Syndrome.</li>
  <li>Balanced out my protein and carbohydrate intake levels. I have reduced my consumption of meat lately, and increased my intake of plant based proteins.  I have significantly reduced my consumption of carbohydrates and especially sugars. I am eating a lot less flours and processed foods, especially wheat flour and cane sugar.  It took me a while to avoid the cravings for the glycemic boost from treats, candy, and deserts, including breads.  By balancing out my protein input, I have significantly reduced my stiff muscles.  By reducing my protein input from meats, I have seen my Good Cholesterol Levels rise.  By reducing carbs and sugar, I sleep better at night, and my blood sugar levels have improved significantly (<a href="https://en.wikipedia.org/wiki/Glycated_hemoglobin" target="_blank">A1C</a>).  </li>
  <li>As I am over 65, I have found that setting aside at least 9 hours for sleep or lucid dreaming each night, which helps my brain work better, and my body heal better.</li>
  <li>I exercise almost every day, and usually go for a half hour brisk walk every day.</li>
  <li>I try and drink at least 8 cups of water or other liquids each day, so that I can avoid kidney stones.  I have found minimizing inorganic calcium supplemented foods, supplements, and medicines has helped significantly with my kidney stones.  I have also found that watching my sodium intake has minimized my tendency toward kidney stones.  If you are having issues with kidney stones, please have your doctor refer you to a Nephrologist, as well as learn about kidney stone nutrition such as from <a href="https://www.thekidneydietitian.org/" target="_blank">The Kidney Dietician</a></li>
</ul>

<%= render "layouts/purpose" %>

