<% content_for :title, 'About' %>
<% content_for :header, 'About' %>



<h3>About Me:</h3>
<p>My name is Dave Taylor and I am the retired founder and sole developer of <a href="http://tayloredwebsites.com/" target="_blank">Taylored Web Sites, LLC</a>.  I have been a software develper since the 1970&#8217;s, and a Web Developer since the 1990&#8217;s.</p>

<h3>Why I Have Been Developing This Website:</h3>
<p>I have found that so much of my health issues have been related to my diet.  I like that there seems to be a lot of research going on in how nutrition impacts our health.  Some of this has made its way into standard Western (allopathic) medicine, but much of it is not taught in Medical Schools, and Doctors and Insurance companies seem to be waiting for double blind studies (which may never happen for ethical reasons) on humans before applying it to their practice</p>
<ul>I have improved my health through diet in the following ways:
  <li>Significantly increased my consumption of vegetables, fruits, and nuts which has eliminated my Irritable Bowel Syndrome.</li>
  <li>reduced my consumption of meat lately, increased plant based proteins, and significantly reduced my consumption of carbohydrates and sugars, especially processed ones. This means that I almost never use wheat flour and cane sugar.  It took me a while to avoid the cravings for the glycemic boost from treats, candy, and deserts.  My blood sugar levels have improved significantly (<a href="https://en.wikipedia.org/wiki/Glycated_hemoglobin" target="_blank">A1C</a>).  I have also seen my Good Cholesterol Levels rise.</li>
  <li>As I am over 65, I have found that setting aside at least 9 hours for sleep (or lucid dreaming) each night helps me heal better, and my brain works better.</li>
  <li>I exercise almost every day, and usually go for a half hour brisk walk every day.</li>
  <li>I try and drink at least 8 cups of water or other liquids each day, so that I can avoid kidney stones.  I have found minimizing non-organic calcium from supplements and supplemented foods, as well as watching my sodium intake, has minimized my tendency toward kidney stones.  If you are having issues with kidney stones, please have your doctor refer you to a Nephrologist, and learn about kidney stone nutrition <a href="https://www.thekidneydietitian.org/" target="_blank">The Kidney Dietician</a></li>
</ul>

<h3>Purpose and Goals:</h3>

<ul>The program is being designed to help you plan your diet, and to give you feedback to better help you meet your nutritional related objectives.:
  <li><ul>Objectives you might want to monitor:
    <li>calorie intake -for its possible impact on weight.</li>
    <li>carbohydrate to protein ratio - for its probable impact on blood sugar.</li>
    <li>glycemic load - for its probable impact on blood sugar.</li>
    <li>PRAL index - for its probable impact of food on body acid balance and kidneys.</li>
    <li>anti-nutrients such as oxalates for their possible impact on kidney stones.</li>
    <li>calcium and other mineral intake with possible impact on bone health, etc.</li>
    <li>more...</li>
  </ul></li>
  <li><ul>USDA Nutritional Data will be preloaded into the program.
    <li>The nutritional information of many foods will be available from the USDA nutritional databases.</li>
    <li>The USDA additionally has many pre-packaged foods and meals that can be easily obtained by this program.</li>
  </ul></li>
  <li><ul>Home cooked foods and Recipes:
    <li>Foods that you prepare will also be able to be stored in the program, and the program will conveniently let you determine the nutritional benefits of your recipes and meals from them.</li>
    <li>Wnen you enter your home cooded foods, it will be able to be entered as a recipe. Since the recipe has the ingredient quantities, this will provide both printable instructions, as well as ingredient quantities needed to determine nutritional values of the food prepared.</li>
    <li>There will be convenient ways to provide for substitutions and enhancements to your recipes.</li>
  </ul></li>
  <li><ul>Meals
    <li>Meals will consist of food portions of any known USDA foods, as well as your home cooked foods.</li>
    <li>By adusting portions and foods, a meal may be planned and adjusted until it meets your goals.</li>
  </ul></li>
  <li><ul>Meeting your Goals:
    <li>You will be able to develop your own goal ranges of ideal (green) range, as well as warning (yellow) and alert(red) ranges.</li>
    <li>Since all of these ranges will be displayed simultaneously, his will make it easy to easily monitor all of your goals at the same time.</li>
    <li>The goals will be available on the foods and meals pages.</li>
  </ul></li>
  <li><ul>Daily results:
    <li>the plan will be for you to be ability to enter your daily meals, so that you will be able to see how you met your goals in a daily summary page.</li>
    <li>The plan will be to also allow you to enter test results, such as blood sugar levels, to help monitor and analyze the impact on your diet.</li>
    <li>Eventually, it it hoped that we will be able to provide statistical analysis of your diet and test results.</li>
  </ul></li>

