<% content_for :title, 'Home' %>
<% content_for :header, 'Home' %>

<ul>
  <li><a href='/foods'>Foods Listing</a></li>
  <li><a href='/nutrients'>Nutrients Listing</a></li>
  <li><a href='/signout'>Sign Out</a></li>
</ul>
