<%
  @title = "Home Page"
  content_for(:title, @title)
%>
<h1><%= @title %></h1>
<ul>
<li><a href='/foods'>Foods Listing</a></li>
<li><a href='/nutrients'>Nutrients Listing</a></li>
<li><a href='/signout'>Sign Out</a></li>
</ul>
