<% content_for :title, 'Food Nutrients Home' %>
<% content_for :header, 'Food Nutrients Home' %>

<ul>
  <li><a href='/foods'>Foods Listing</a></li>
  <li><a href='/nutrients'>Nutrients Listing</a></li>
  <li><a href='/diagrams.html'>Database Diagrams</a></li>
  <li><a href='/signout'>Sign Out</a></li>
</ul>
