<h1>Editing food nutrient</h1>

<%= render "form", food_nutrient: @food_nutrient %>

<br>

<div>
  <%= link_to "Show this food nutrient", @food_nutrient %> |
  <%= link_to "Back to food nutrients", food_nutrients_path %>
</div>
