<% content_for :title, 'New Food Nutrient' %>
<% content_for :header, 'New Food Nutrient' %>
<% content_for :subheader, "#{@food.present? ? "for food: #{@food.name}" : ''}" %>

<%= render "form", food_nutrient: @food_nutrient, food: @food %>

<br>

<div>
  <%= link_to "Back to food nutrients", "/nutrients_of_food/#{@food.id}" %>
</div>
