<% content_for :title, 'Edit Food Page' %>
<% content_for :header, "Edit Food Page" %>
<% content_for :subheader, "#{@food.present? ? 'for food: '+@food.name : ''}" %>

<%= render "form", food: @food %>

<br>

<div>
  <%= link_to "Show this food", @food %> |
  <%= link_to "Back to foods", foods_path %>
</div>
