<% content_for :title, 'Foods Listing' %>
<% content_for :header, "Foods Listing" %>

<div id="foods">
  <table>
    <%= render 'food_headers' %>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </table>
</div>

<ul>
  <li><a href="/foods/new">New Food</a></li>
</ul>
