<% content_for :title, 'Foods Listing' %>
<% content_for :header, "Foods Listing" %>

<div id="foods">
  <table>
    <%= render 'food_headers' %>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </table>
</div>

<ul>
<li><%= link_to "New food", new_food_path %></li>
<li><a href="/">Home</a></li>
<li><a href='/signout'>Sign Out</a></li>
</ul>
