<% content_for :title, "View Food: #{@food.present? ? @food.name : ''}" %>
<% content_for :header, "View Food: #{@food.present? ? @food.name : ''}" %>

<%= render @food %>

<ul>
  <li><a href="/food/new %>">New Food</a></li>
  <li><a href="/foods/<%= @food.id %>/edit">Edit this food</a></li>
  <li><a href="/foods/<%=@food.id%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Delete this food</a></li>
</ul>
