<% content_for :title, 'Food Page' %>
<% content_for :header, "Food Page" %>
<% content_for :subheader, "#{@food.present? ? 'for food: '+@food.name : ''}" %>

<%= render @food %>

<ul>
  <li><a href="/food/new %>">New Food</a></li>
  <li><a href="/foods/<%= @food.id %>/edit">Edit this food</a></li>
  <li><a href="/foods/<%=@food.id%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Delete this food</a></li>
</ul>
