.inlineList li {
  display: inline;
  margin-left: 10px;
}

.inlineListButtons li {
  display: inline;
  margin-left: 10px;
  a {
    display: inline-block;
    height: 20px;
    width: auto;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 0 5px;
  }
  span {
    display: inline-block;
    height: 20px;
    width: auto;
    padding: 0 5px;
    font-weight: bold;
  }
}

.uiError {
  font-weight: bold;
  color: red;
}

.center {
  text-align: center;
}

.inactiveLink {
  pointer-events: none;
  cursor: not-allowed;
  color: #999;
}

.selectedLink {
  pointer-events: none;
  cursor: not-allowed;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

form label {
  font-weight: bold;
  ::after {
    content: ":";
  }
}

