.inlineList li {
  display: inline;
  margin-left: 10px;
}

.inlineListButtons li {
  display: inline;
  margin-left: 10px;
  a {
    display: inline-block;
    height: 20px;
    width: auto;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 0 5px;
  }
  span {
    display: inline-block;
    height: 20px;
    width: auto;
    padding: 0 5px;
    font-weight: bold;
  }
}

.uiError {
  font-weight: bold;
  color: red;
}

.center {
  text-align: center;
}

form label {
  font-weight: bold;
  display: inline-block;
  width: 170px;
  text-align: right;
  &:after {
    content: ":";
  }
  margin-right: 5px;
}

form .thinnest {
  width: 30px;
}

form .thinner {
  width: 60px;
}

form .thin {
  width: 90px;
}

form .wide {
  width: 300px;
}

ul.viewItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Page Layout
footer {
  position: absolute;
  width: 100%;
  bottom:0;
  font-size: 0.7em;
  line-height: 2.0em;
  text-align: center;
  padding-bottom: 5px;
}

// Index page Table styles
.inactiveLink {
  pointer-events: none;
  cursor: not-allowed;
  color: #999;
}

.selectedLink {
  pointer-events: none;
  cursor: not-allowed;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

// why aren't these working ???
td, th {
  text-align: center;
}
th.pct20, td.pct20, .pct20 {
  width: 20%;
}
th.pct30, td.pct30 {
  width: 30%;
}
th.pct40, td.pct40 {
  width: 40%;
}
