.inlineList li {
  display: inline;
  margin-left: 10px;
}

.inlineListButtons li {
  display: inline;
  margin-left: 10px;
  a {
    display: inline-block;
    height: 20px;
    width: auto;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 0 5px;
  }
  span {
    display: inline-block;
    height: 20px;
    width: auto;
    padding: 0 5px;
    font-weight: bold;
  }
}

.uiError {
  font-weight: bold;
  color: red;
}

.center {
  text-align: center;
}

form.thin_labels label {
  width: 100px;
}

form.wide_labels label {
  width: 300px;
}

form label, form input[type="submit"] {
  font-weight: bold;
  display: inline-block;
  width: 200px;
  margin-right: 5px;
}
form label {
  text-align: right;
  &:after {
    content: ":";
  }
}
form input[type="submit"] {
  text-align: center;
}

// keep two column form with rail adds div with class field_with_errors
form .field_with_errors {
  display: inline-block
}

form .thinnest {
  width: 30px;
}

form .thinner {
  width: 60px;
}

form .thin {
  width: 90px;
}

form .wide {
  width: 300px;
}

ul.viewItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Page Layout
footer {
}

// Index page Table styles
.inactiveLink {
  pointer-events: none;
  cursor: not-allowed;
  color: #999;
}

.selectedLink {
  pointer-events: none;
  cursor: not-allowed;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

td, th {
  text-align: center;
}
th.pct10, td.pct10 {
  width: 10%;
}
th.pct20, td.pct20 {
  width: 20%;
}
th.pct30, td.pct30 {
  width: 30%;
}
th.pct40, td.pct40 {
  width: 40%;
}
th.pct50, td.pct50 {
  width: 50%;
}
th.pct60, td.pct60 {
  width: 60%;
}
th.pct70, td.pct70 {
  width: 70%;
}
th.pct80, td.pct80 {
  width: 80%;
}
th.pct90, td.pct90 {
  width: 90%;
}

.font-smallest {
  font-size: .40em;
}.font-smaller {
  font-size: .60em;
}.font-small {
  font-size: .80em;
}.font-large {
  font-size: 1.20em;
}.font-larger {
  font-size: 1.40em;
}.font-largest {
  font-size: 1.60em;
}