<h3><strong>Purpose and Goals:</strong></h3>
<p>The program is being designed to help you plan your diet, and to give you feedback to better help you meet your nutritional related objectives.:</p>
<ul>
  <li><ul>Objectives you might want to monitor:
    <li>calorie intake -for its possible impact on weight.</li>
    <li>carbohydrate to protein ratio - for its probable impact on blood sugar.</li>
    <li>glycemic load - for its probable impact on blood sugar.</li>
    <li>PRAL index - for its probable impact of food on body acid balance and kidneys.</li>
    <li>anti-nutrients such as oxalates for their possible impact on kidney stones.</li>
    <li>calcium and other mineral intake with possible impact on bone health, etc.</li>
    <li>more...</li>
  </ul></li>
  <li><ul>USDA Nutritional Data will be preloaded into the program.
    <li>The nutritional information of many foods will be available from the USDA nutritional databases.</li>
    <li>The USDA additionally has many pre-packaged foods and meals that can be easily obtained by this program.</li>
  </ul></li>
  <li><ul>Home cooked foods and Recipes:
    <li>Foods that you prepare will also be able to be stored in the program, and the program will conveniently let you determine the nutritional benefits of your recipes and meals from them.</li>
    <li>Wnen you enter your home cooded foods, it will be able to be entered as a recipe. Since the recipe has the ingredient quantities, this will provide both printable instructions, as well as ingredient quantities needed to determine nutritional values of the food prepared.</li>
    <li>There will be convenient ways to provide for substitutions and enhancements to your recipes.</li>
  </ul></li>
  <li><ul>Meals
    <li>Meals will consist of food portions of any known USDA foods, as well as your home cooked foods.</li>
    <li>By adusting portions and foods, a meal may be planned and adjusted until it meets your goals.</li>
  </ul></li>
  <li><ul>Meeting your Goals:
    <li>You will be able to develop your own goal ranges of ideal (green) range, as well as warning (yellow) and alert(red) ranges.</li>
    <li>Since all of these ranges will be displayed simultaneously, his will make it easy to easily monitor all of your goals at the same time.</li>
    <li>The goals will be available on the foods and meals pages.</li>
  </ul></li>
  <li><ul>Daily results:
    <li>the plan will be for you to be ability to enter your daily meals, so that you will be able to see how you met your goals in a daily summary page.</li>
    <li>The plan will be to also allow you to enter test results, such as blood sugar levels, to help monitor and analyze the impact on your diet.</li>
    <li>Eventually, it it hoped that we will be able to provide statistical analysis of your diet and test results.</li>
  </ul></li>
</ul>
